nav {
    background-color: #353a40;
}
body {
    background: #353a40;
    margin: 0px;
}

#bienvenidos{
    position: relative;
    left: -20px;
    justify-content: start;
    opacity: 0.8;
    

}
#imga:hover {
    opacity: 0.9;
    filter: alpha(opacity=100);
    zoom: 1;
 }

.carousel-inner {
    height: 300px;
    width: 100px;
    flex-wrap: wrap;
}

a {
    color: #2ca090;
    text-decoration: none;

}


a:hover {
    color: #1c8577;
}

nav {
    background-color: #353a40;
}

.principal {
    filter: brightness(50%);
}


footer {
    background: rgb(28, 76, 97);
    background: linear-gradient(90deg, rgb(21, 30, 34) 35%, rgb(49, 59, 66) 100%);
    height: 85px;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0;
}

.links {
    color: white;
    text-decoration: none;

}
#btn-codo{
    background-color: #1c8577;
    color: aliceblue;
    
}
#lascard{
    margin-left: 20px; }
    .card-title {
        color: black;
    }